
* {
  margin: 0; 
  padding: 0; 
}
body {
  background: rgba(238, 238, 238, 0.1);
}
.layout {
  text-align: center;
  display: inline-block;
  margin: 5px; 
  position: relative;
}
.wrap {
  outline: 2px solid #000;
  display: inline-block;
  position: relative;
}
.row {
  font-size: 0; 
}

.cell {
  display: inline-block;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  border: 1px dashed #eee;
}
.cell[bg] {
  background-color: #333;
  border: 2px solid #aaa;
  // outline: 1px solid #333;
}


.score {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; 
  width: 200px; 
  height: 200px;
  margin: auto;
  font-size: 20px; 
  color: #000;
}

.functionArea {
  text-align: center;
}
.btn {
  padding: 3px 8px;
  margin: 5px 10px;
}

.handleArea {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.handleBtns {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 266px;
}
.btn1 {
  position: absolute;
  width: 100px; 
  height: 70px;
  line-height: 70px;
}
.top {
  top: 0; 
  left: 0; right: 0;
  margin: 0 auto;
}
.btm {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.lft {
  top: 0; 
  bottom: 0; 
  left: 0; 
  margin: auto 0;
}
.rit {
  top: 0; 
  bottom: 0; 
  right: 0; 
  margin: auto 0;
}
.fall {
  bottom: 0; 
  left: 0; right: 0;
  margin: 0 auto;
}

.finaScroe {
  position: fixed;
  right: 10px; 
  bottom: 0; 
  color: red;
}



